@import '../../assets.scss';

.calculator {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  box-shadow: 0px 4px 15px 6px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  background-color: $darkGray;
  font-size: 1.375rem;
  color: white;

  .calcTop {
    border-bottom: 3px solid $lightGray;
    text-align: right;
    padding: 10px;

    .history {
      margin-bottom: 10px;
    }

    .answer {
      font-size: 3rem;
    }
  }

  .calcBottom {
    flex-grow: 1;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);

    &:last-child {
      grid-row: 4 / 5;
    }

    .itemWrap {
      position: relative;
      &:hover {
        background-color: $lightGray;
      }

      &:last-child {
        grid-column: 3 / 5;
      }

      .item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 100%;
        user-select: none;
      }


    }
  }

}